<h1>
    Courses
</h1>

<table>
    <tr>
        <th>Name</th>
        <th>MovieName</th>
        
    </tr>
    {{#each data}}
    <tr>
        <td>{{this.Name}}</td>
        <td>{{this.MovieName}}</td>
        
    </tr>
    {{/each}}
</table>